.sign__link{
    color:white;
    background-color: black;
    border:none;
    outline: none;
    text-decoration: none;
    transform: opacity 1s linear;
}

.sign__link:hover{    
    opacity: 0.6;
}