.popup__title{
    margin:0;
    padding:0;
    width:calc(100% - 72px);
    margin-top:34px;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
}

@media (max-width: 550px){
    .popup__title{
        width:calc(100% - 44px);
        font-size: 18px;
        line-height: 22px;
    }
}
