.popup__photo-title{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color:white;
    position:absolute;
    left: 0px;
    bottom:-30px;
}