.sign__title{
    margin:0;
    margin-top: 60px;
    padding:0;
    color:white;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    margin-bottom: 50px;
}