.profile__avatar-icon{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.profile__avatar-icon::after{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-repeat: no-repeat;
    background-position: center;
    transition:  background-color 2s;
}

.profile__avatar-icon:hover::after{
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/avatar.png);
    background-repeat: no-repeat;
    background-position: center;

}