@import url(./vendor/normalize.css);

@import url(./vendor/font-face.css);
@import url(./blocks/link/link.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__info/header__info.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/main/main.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__avatar-icon/profile__avatar-icon.css);
@import url(./blocks/profile/__img/profile__img.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__profession/profile__profession.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__cross/profile__cross.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__photo/elements__photo.css);
@import url(./blocks/elements/__description-content/elements__description-content.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__like-quantity/elements__like-quantity.css);
@import url(./blocks/elements/__like-button/elements__like-button.css);
@import url(./blocks/elements/__like-button/_active/elements__like-button_active.css);
@import url(./blocks/elements/__like-img/elements__like-img.css);
@import url(./blocks/elements/__trash-img/elements__trash-img.css);
@import url(./blocks/elements/__delete-button/elements__delete-button.css);
@import url(./blocks/elements/__delete-button/_disabled/elements__delete-button_disabled.css);
@import url(./blocks/elements/__popup-button/elements__popup-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_add.css);
@import url(./blocks/popup/_type/popup_type_edit.css);
@import url(./blocks/popup/_type/popup_type_photo.css);
@import url(./blocks/popup/_type/popup_type_delete.css);
@import url(./blocks/popup/_type/popup_type_avatar.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__close/_add/popup__close_add.css);
@import url(./blocks/popup/__close/_edit/popup__close_edit.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/_is-opened/popup_is-opened.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_add/popup__form_add.css);
@import url(./blocks/popup/__form/_edit/popup__form_edit.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__photo-container/popup__photo-container.css);
@import url(./blocks/popup/__container/_photo/popup__container_photo.css);
@import url(./blocks/popup/__close/_photo/popup__close_photo.css);
@import url(./blocks/popup/__photo-title/popup__photo-title.css);
@import url(./blocks/visibility/visibility.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/sign/sign.css);
@import url(./blocks/sign/__title/sign__title.css);
@import url(./blocks/sign/__input/sign__input.css);
@import url(./blocks/sign/__button/sign__button.css);
@import url(./blocks/sign/__link/sign__link.css);
@import url(./blocks/popup/__registration-title/popup__registration-title.css);
@import url(./blocks/popup/__registration-image/popup__registration-image.css);
    



